<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./blogs.css">
    <script src="https://kit.fontawesome.com/88160cb0cc.js" crossorigin="anonymous"></script>
    <script src="controller.js"></script>
    <title>Blog</title>
</head>
<body>
  <%- include('header') %>
  <main>
    <div class="content">
      <h1>Blogs</h1>
      <div class="blogContainer">
        <% for(const blog of blogs){ %> 
          <div class="singleBlog">
            <div class="blogHeader">
              <div>
                <div class="sameLine">
                  <h2><%- blog.title %></h2>
                  <p>von <%- blog.author%> </p>
                </div>
                <h3><%- blog.subtitle %></h3>
              </div>
              <div class="blogLink">
                <p>read more</p>
                <i class="fa-solid fa-right-long" onclick="window.location.href='/blog/<%- blog.blogId %>'" style="font-size: 25px;"></i>
              </div>
            </div>
          </div>
        <% } %> 
      </div>
    </div>
  </main>
</body>
</html>