<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./blog.css">
    <script src="https://kit.fontawesome.com/88160cb0cc.js" crossorigin="anonymous"></script>
    <script src="controller.js"></script>
    <title>Blog</title>
</head>
<body>
  <%- include('header') %>
  <main>
    <div class="content">
      <div class="blogHeader">
        <h1><%- blog.title %></h2>
        <p class="right">von <%- blog.author%> </p>
      </div>
      <h2><%- blog.subtitle %></h3>
      <p><%- blog.body %> </p>
      <div class="blogFooter">
        <p>Veröffentlicht am: <%- releaseDate %></p>
      </div>
    </div>
  </main>
</body>
</html>